.navtag{


  float: left;
  width: 20%;
  height: 76vh;
  background: #ccc;
  padding: 20px;

  /*-webkit-flex: 1;*/
  /*-ms-flex: 1;*/
  /*flex: 1;*/
  /*background: #ccc;*/
  /*padding: 20px;*/

}

.sectionPart:after {
  content: "";
  display: table;
  clear: both;
  background-color: aqua


  /*display: -webkit-flex;*/
  /*display: flex;*/
}

.articleTag{
  float: left;
  padding: 20px;
  width: 80%;
  background-color: #f1f1f1;
  height: 76vh;

  /*-webkit-flex: 3;*/
  /*-ms-flex: 3;*/
  /*flex: 3;*/
  /*background-color: #f1f1f1;*/
  /*padding: 10px;*/


  
}